/* This file is for your main application css. */

#run .wrapper {
  position: relative;
  background: #000;
}

#run .header {
  position: absolute;
  z-index: 1;
  color: #fff;
  left: 35%;
  font-weight: bold;
}

#run .stats {
  position: absolute;
  z-index: 1;
  color: #fff;
  top: 10%;
  left: 5%;
}

#run .map {
  opacity: 0.6;
  height: 600px;
}
