@import 'node_modules/font-awesome/scss/font-awesome';
@import 'https://fonts.googleapis.com/css?family=Lato|Questrial';
@import './colors';

html,body{
  height: 100%;
}

body{
  margin: 0;
  font-family: 'Lato', sans-serif !important;
  background-color: $color1;
}

* {
  border-radius: 0 !important;
}

.logo{
  font-family: 'Lato', sans-serif;
  font-size: 1.5em;
  height: 100px;
  width: 100%;
  background-size: 200px;
  background-image: url("/images/logo3.png");
  background-repeat: no-repeat;
  background-position: center;
}

@import './login';
@import './run_grid';
