#login-box{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  text-align: center;

  form{
    max-width: 60%;
    width: 60%;

    input[type="submit"]{
      padding: 10px 20px;
    }

    input[type="text"],
    input[type="password"] {
      padding: 20px;
      text-align: center;
    }
  }
}

