.run {
  margin-top: -20px;

  .wrapper {
    height: 100%;
    position: relative;
  }

  .header {
    position: absolute;
    z-index: 1;
    color: #fff;
    left: 35%;
    font-weight: bold;
  }

  .stats {
    position: absolute;
    z-index: 1;
    color: #fff;
    top: 10%;
    left: 5%;
  }

  .map {
    opacity: 0.6;
    height: 600px;
  }

  .map2 {
    opacity: 0.6;
    height: 100%;
  }
}

