<div id="map" style="height:200px" data-waypoints=<%= @data["waypoints"] |> Poison.encode!  %>></div>

<ul>
  <li><%= @data["duration"] %></li>
  <li><%= @data["calories"] %></li>
  <li><%= @data["distance"] %></li>
</ul>

<%= link("list of runs", to: page_url(@conn, :index)) %>

